*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-grey: #717171;
  --clr-black: #222222;
  --clr-white: #ffffff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 19px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  outline: 0;
  cursor: pointer;
}

.container {
  height: 100%;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 1fr;
  row-gap: 40px;
  column-gap: 24px;
  place-content: center;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}

.card .card-img {
  height: 100%;
  width: 100%;
  display: grid;
}

.stacked > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card-img img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 12px;
}

.card-img .top-content {
  align-self: start;
  padding: 14px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.btn-save {
  border: 0;
  background-color: transparent;
  font-size: 24px;
}

.btn-save svg {
  display: block;
  height: 24px;
  width: 24px;
  stroke: var(--clr-white);
  fill: rgba(0, 0, 0, 0.5);
  stroke-width: 2;
  overflow: visible;
}

.flag {
  font-size: 14px;
  line-height: 18px;
  background-color: var(--clr-white);
  padding: 4px 8px;
  border-radius: 4px;
}

.card-img .slide-indicators {
  display: flex;
  justify-content: space-around;
  align-self: end;
  justify-self: center;
  margin-bottom: 12px;
}

.slide-indicators .indicator {
  display: inline-block;
  background-color: var(--clr-white);
  border-radius: 50%;
  margin-inline: 2.5px;
  min-height: 6px;
  height: 6px;
  min-width: 6px;
  width: 6px;
  opacity: 1;
}

.slide-indicators :not(:first-child) {
  opacity: 0.6;
}

.slide-indicators :nth-last-child(2) {
  transform: scale(0.833);
}

.slide-indicators :nth-last-child(1) {
  transform: scale(0.666);
}

.card-content {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-template-rows: 0fr;
  gap: 2px 8px;
  white-space: nowrap;
}

.card-title,
.card-description,
.card-price {
  overflow: clip;
  text-overflow: ellipsis;
}

.card-title {
  grid-column: 1 / -1;
  font-size: inherit;
}

.superhost,
.card-title,
.card-review,
.card-price .price-night {
  color: var(--clr-black);
}

.superhost,
.card-title,
.price-night .price-value {
  font-weight: 600;
}

.card-review {
  grid-column: -1 / -1;
  justify-self: end;
  display: flex;
  align-items: center;
}

.card-beds,
.card-date {
  grid-column: 1 / 1;
}

.card-description,
.card-price {
  grid-column: 1 / -1;
}

.card-description,
.card-beds,
.card-date {
  color: var(--clr-grey);
}

.card-price {
  display: flex;
  align-items: center;
  margin-top: 6px;
  gap: 6px;
  overflow: visible;
}

.card-price .btn-price {
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: var(--clr-grey);
}

@media screen and (max-width: 1080px) {
  .container {
    padding: 40px 40px;
  }
}
